.grid {
    --gridColumns: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: 16px;

    @for $i from 2 through 6 {
        &--#{$i} {  
            --gridColumns: #{$i};
        }
    }

    &--3 {
        @include tablet {
            --gridColumns: 2;
        }

        @include mobile-s{
            --gridColumns: 1;
        }
    }
}