.mobile-menu {

    &__body {
        position: fixed;
        width: 220px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 18px 15px;
        background-color: $color-light;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 2;
        transform: translateX(100%);
        transition: transform $transition-duration;
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        transition: all $transition-duration;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
    }

    &--open {
        .mobile-menu__body {
            transform: translateX(0);
        }

        .mobile-menu__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    &__close-button {
        position: relative;
        display: block;
        margin-left: auto;
        width: 41px;
        height: 41px;
        background-color: transparent;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 30px;
            height: 4px;
            border-radius: 2px;
            background-color: $color-dark;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &__list {
        padding: 0 15px;
    }

    &__item-link {
        display: block;
        padding: 8px 10px;
        font-size: 16px;
        line-height: 1.4;
        color: $color-gray;

        @include hover {
            opacity: 0.8;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: start;

        @include mobile-s-above {
            display: none;
        }
    }

    &__button {
        padding: 8px 22px;
    }
}